@{
    ViewData["Title"] = "Add Driver";
}
<div class="text-center">
    <h1 class="display-4">Add New Driver</h1>
</div>
<div class="container">
    <div class="text-center">
        <form>
            <label for="NewName">New Name:</label>
            <input type="text" id="NewName" name="NewName">
        </form>
        <form>
            <label for="NewDoB">New Date of Birth:</label>
            <input type="date" id="NewDoB" name="NewDoB">
        </form>
        <form>
            <label for="NewRoutes">New Routes:</label>
            <input type="text" id="NewRoutes" name="NewRoutes">
        </form>
        <a asp-area="" asp-controller="Home" asp-action="" class="btn btn-md btn-primary">Add driver</a>
        <a asp-area="" asp-controller="Home" asp-action="BusDriver" class="btn btn-md btn-primary">Go Back</a>
    </div>
</div>