@model B.A.S.S.Models.RouteController
@{
    ViewData["Title"] = "Add Route";
}
@using (Html.BeginForm()){
<div class="text-center">
    <h1 class="display-4">You are adding a new route</h1>
        <p class="form-control">
            <label>Insert Route ID</label>
            @Html.TextBoxFor(x => x.RouteID, new {@class = "form-control"  })
        </p>
        <p class="form-control">
            <label>Insert Route Name</label>
            @Html.TextBoxFor(x => x.RouteName, new {@class = "form-control"  })
        </p>
        <p class="form-control">
            <label>Insert New number</label>
            @Html.TextBoxFor(x => x.RouteNumber, new {@class = "form-control"  })
        </p>
         <p class="form-control">
                <label>Insert New number</label>
            @Html.TextBoxFor(x => x.RouteDescription, new {@class = "form-control"  })
          </p>
</div>
<button  class="btn btn-md btn-primary" type="submit" >Add Stop</button>
<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-md btn-primary">Go Back</a>
}
